@font-face {
    font-family: fontku;
    src: url(COMIC.TTF);
}
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: fontku;
    background-color: #EEF2E6;
}

.images{
    display: flex;
    width: 100%;
    transition: 2s;
}

.images img {
    width: 100%;
}

.wrapper1 {
    width: 800px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#slide-1:target ~ .images{
    margin-left: 0px;
}

#slide-2:target ~ .images{
    margin-left: -100%;
}

#slide-3:target ~ .images{
    margin-left: -200%;
}

.navigation a {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color:#FFFFFF;
    font-size: 0px;
    border-radius: 50%;
    margin: 3px;
}

.navigation:hover {
    background-color:#666 ;
    transition: 1s;
}

.navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 220px;
    right: 0;
    margin-top: -50px;

}

@media screen and (max-width :800px) {
    .wrapper1 {
        width: 90%;
}
}



button {
    --color: #5F8D4E;
    font-family: fontku;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #285430;
    transition: background 0s;
   }

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: fontku;
    color: #285430;
}

.menu {
    float: right;
    
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #5F8D4E;
    z-index: 1;
    border-bottom:1px solid #ffffff;
    font-family: fontku;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: fontku;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom:  50px;
}

.kolom1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

#home .kolom h2 {
    font-family: fontku;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#850000;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

#home .kolom h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#850000 ;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#285430 ;
    text-align: center;
}

h2 {
    font-family: fontku;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#285430;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.skill p{
    font-family: fontku;
    font-weight: 800;
    font-size: 45px;
    color:#285430;
    margin-bottom: -50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-left: 260px;
}

h3 {
    font-family: fontku;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
    color:#285430;
    width: 100%;
    line-height: 35px;
}

a.tbl-biru {
    background: #A4BE7B;
    border-radius: 20px;
    margin-top:  20px;
    padding: 15px 20px 15px 20px ;
    color: #285430;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #B6E2A1;
    text-decoration: none;
}

a.tbl-pink {
    background: #B6E2A1;
    border-radius: 20px;
    margin-top:  20px;
    padding: 15px 20px 15px 20px ;
    color: #285430;
    font-weight: bold;
}
a.tbl-pink:hover {
    background: #90A17D;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#285430 ;
}

#tutors .tentangvideo video{
    width: 80%;
    height: 80%;
    float: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 120px;
    margin-right: 0;
}

#tutors .row .kolom2 h3 {
    font-family: fontku;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
    color:#285430;
    width: 100%;
    line-height: 35px;
    text-align: center;
}

#tutors .row .kolom3 h3 {
    font-family: fontku;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
    color:#285430;
    width: 100%;
    line-height: 35px;
    text-align: center;
}

#tutors .row .kolom2 p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#285430 ;
    align-items: baseline;
    text-align: center;
}

#tutors .row .kolom3 p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#285430 ;
    align-items: baseline;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10;
    margin-bottom:10px;
    margin-left: 150px;
    margin-right: 150px;
   }
   
   .switch input {
    display: none;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CFFDE1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
   }
   
 
   input:checked + .slider {
    background-color: #6ECCAF;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #6ECCAF;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
   }
   
   
   .slider:after {
    content: 'WelkinMoon 65K';
    color: #285430 ;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-family: fontku;
   }
   
   input:checked + .slider:after {
    content: 'WelkinMoon 65K';
   }

   .partner-list {
    width: 170%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #F5EDCE;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .card-body {
        width: 50%;
    }

    .partners {
        width: 50%;
    }

    .contact {
        width: 50%;
    }
}

#partners .tengah .kolom h2{
    font-family: fontku;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#285430;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-left: 200px;
}

#partners .tengah .kolom p {
    font-size: 20px;
    font-weight: bold;
    font-family: fontku;
    color:#285430 ;
    text-align: center;
    align-items: center;
}


.cardbody {
    background-color: #EEF2E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
 }
 
 .card1 {
    margin-right: 25px;
    background-color: #FFFFFF ;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: cubic-bezier(0.175, 0.885, 0.1);
 }
 
 .card-img {
    width: 100%;
    height: 235px;
    border-top-left-radius:12px;
    border-top-right-radius: 12px; 
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 .card-img-hover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
    top: 0;
    transition: 0.2s all ease-out ;
 }
 
 .card:hover .card-img-hover {
    height: 100%;
    opacity: 0.3;
 }
 
 .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1);
 }
 
 .card-info{
    z-index: 2;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
 }
 
 .card-category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-style: 500;
    color: black;
    font-family: fontku;
 }
 
 .card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: fontku;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
    color:#285430;
    width: 100%;
    line-height: 35px;
 }
 
 .card-by {
    font-size: 12px;
    font-family: "raleway", sans-serif;
    font-weight: 500;  
 }
 
 .card-admin {
    font-weight: 600;
    text-decoration: none;
    color: black ;
    font-family: fontku;
 }
 
 .card:hover .card-info {
    background-color:transparent;
    position: relative;
 }
 
 .card info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
 }
 
 .card:hover .card-info-hover {
    opacity: 1;
 }
 
 .card-like {
    width: 18px;
 }
 
 .card-clock-info {
    float: right;
 }
 
 .card-clock {
    width: 15px;
    vertical-align: middle;
    fill: black;
 }
 
 .card-time {
    font-size: 12px;
    color: black;
    vertical-align: middle;
    margin-left: 5px;
    font-family: fontku;
 }
  
.harga {
    align-items: center;
    justify-content: center;
}

 .gambarharga {
    height: 50%;
    width: 50%;
    align-items: center;
 }
 
 /* responsiver */
 
 @media screen and (max-width: 700px ) {
    .card {
       width: 20em;
       display: block;
       margin: 1em;
    }
    
    .cardbody {
        display: flex;
        align-items: flex-start;
    }
}